[config]
skip_core_tasks = true

[tasks.setup]
category = "Tools"
description = "Install dependencies after nix"
script = [
  "npm ci --ignore-scripts",
]

[tasks.fmt]
category = "Tools"
description = "Run formatters with changes"
script = [
  "dprint fmt",
  "typos . .github .vscode --write-changes",
]

[tasks.lint]
category = "Tools"
description = "Run linters without changes"
script = [
  "dprint check",
  "deno lint",
  "typos . .github .vscode",
  "actionlint",
]

[tasks.test]
category = "Tools"
description = 'Test'
script = [
  "npm run test",
]

[tasks.typecheck]
category = "Tools"
description = 'Correctness in TypeScript'
script = [
  "npm run typecheck",
]

[tasks.build]
category = "Tools"
description = 'Build that actually run in production'
script = [
  "npm run build",
]

[tasks.check]
category = "Tools"
description = 'Parallel runner for all tests and linters'
run_task = { name = ["typecheck", "test", "lint", "build"], parallel = true }

[tasks.help]
category = "Tools"
description = 'Might help you - (This one)'
script = [
  'makers --list-category-steps Tools',
]

[tasks.deps]
category = "Tools"
description = 'Print dependency and the versions'
script = [
  "node --version",
  "nix --version",
  "deno --version",
  "makers --version",
  "dprint --version",
  # Returns NON 0, why...? :<
  # "nixpkgs-fmt --version",
  "actionlint --version",
  "typos --version",
  "gh --version",
  "jq --version",
  "jnv --version",
  "pinact --version",
]

[tasks.check_no_git_diff]
category = "Tools"
description = 'This prevents unexpected commit'
script = [
  '(git add --intent-to-add . && git diff --exit-code) || (echo "You should commit all diff before running tests"; exit 1)',
]
