name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/dependabot.yml'
      - '.editorconfig'
      - '**.md'
      - '.vscode/**'
  pull_request:
    paths-ignore:
      - '.github/dependabot.yml'
      - '.editorconfig'
      - '**.md'
      - '.vscode/**'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: read
  actions: read

jobs:
  all:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          extra_nix_config: |
            sandbox = true
            accept-flake-config = true
      - run: nix develop --command echo 'This step should be done before any other "nix develop" steps because of measuring Nix build time'
      # See https://github.com/actions/setup-node/blob/802632921f8532d2409ae6eac3313b6f81f11122/src/cache-utils.ts#L30-L38
      - name: Get pnpm store path
        id: get-pnpm-path
        run: |
          echo "pnpm-store-path=$(nix develop --command pnpm store path --silent)" | tee -a "$GITHUB_OUTPUT"
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        name: Cache pnpm store
        with:
          path: |
            ${{ steps.get-pnpm-path.outputs.pnpm-store-path }}
          key: |
            pnpm_store-pnpm_${{ hashFiles('pnpm-lock.*') }}-flake_${{ hashFiles('flake.lock') }}-${{ runner.arch }}-${{ runner.os }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        name: Cache deno modules
        with:
          # Using `deno info --json` prints accurate data. However this is a simple solution in this workflow
          # See https://github.com/actions/cache/blob/1bd1e32a3bdc45362d1e726936510720a7c30a57/examples.md?plain=1#L144-L155
          path: |
            ~/.cache/deno
          key: |
            deno_store-deno_${{ hashFiles('deno.lock') }}-flake_${{ hashFiles('flake.lock') }}-${{ runner.arch }}-${{ runner.os }}
      - name: Setup
        run: |
          nix develop --command deno task setup
      - name: Test, build, lint
        run: |
          nix develop --command deno task all
      - name: Make sure there is no diff after build
        run: |
          nix develop --command deno task check_no_git_diff
