name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/dependabot.yml'
      - 'LICENSE'
      - '.editorconfig'
      - 'README.md'
      - '.vscode/**'
  pull_request:
    paths-ignore:
      - '.github/dependabot.yml'
      - 'LICENSE'
      - '.editorconfig'
      - 'README.md'
      - '.vscode/**'
jobs:
  build:
    needs: [typecheck] # Ensuring cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Build and Test
        run: npm test
      - name: Check no diff for products
        run: git add --intent-to-add . && git diff --exit-code

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - name: install dependencies
        run: npm ci --ignore-scripts
      - name: Typecheck
        run: npm run typecheck

  lint:
    needs: [typecheck] # Ensuring cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - name: install dependencies
        run: npm ci --ignore-scripts
      - name: Lint
        run: npm run lint:check
