name: GH-771 - Event Name
on:
  push:
    paths:
      - '**GH-771**'
      - 'action.yml'
      - 'dist/**'
  pull_request:
    paths:
      - '**GH-771**'
      - 'action.yml'
      - 'dist/**'

# Disable all permissions in workflow global as to setup clean room
# However PRs will have read permissions because this project is on a public repository
permissions: {}

jobs:
  echo:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Print note
        run: |
          echo 'Triggered by ${{ github.event_name }} event'
          echo 'See https://github.com/kachick/wait-other-jobs/issues/771 for the detail'
  wait:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - run: |
          echo 'Triggered by ${{ github.event_name }} event'
          echo 'See https://github.com/kachick/wait-other-jobs/issues/771 for the detail'
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          minimum-interval: 'PT5S'
          attempt-limits: 30
          skip-same-workflow: 'false'
          wait-list: |
            [
              {
                "workflowFile": "GH-771-eventname.yml",
                "jobName": "echo",
                "eventName": "${{ github.event_name }}"
              }
            ]
