name: GH-820 - Grace Period
on:
  push:
    branches: [main]
    paths:
      - '**GH-820**'
      - 'action.yml'
      - 'dist/**'
  pull_request:
    paths:
      - '**GH-820**'
      - 'action.yml'
      - 'dist/**'
  workflow_dispatch:

# Disable all permissions in workflow global as to setup clean room
# However PRs will have read permissions because this project is on a public repository
permissions: {}

jobs:
  quickstarter-success:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - run: echo ':)'
  intermediate:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - run: sleep 15
  slowstarter-success:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    needs: [intermediate]
    steps:
      - run: echo ':)'
  slowstarter-fail:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    needs: [intermediate]
    steps:
      - run: |
          echo ':<'
          false
  wait-success:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          warmup-delay: 'PT1S'
          minimum-interval: 'PT5S'
          attempt-limits: '100'
          wait-list: |
            [
              {
                "workflowFile": "GH-820-graceperiod.yml",
                "optional": false,
                "jobName": "quickstarter-success"
              },
              {
                "workflowFile": "GH-820-graceperiod.yml",
                "optional": false,
                "jobName": "slowstarter-success",
                "startupGracePeriod": "PT60S"
              }
            ]
  wait-fail:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          warmup-delay: 'PT1S'
          minimum-interval: 'PT5S'
          attempt-limits: '100'
          wait-list: |
            [
              {
                "workflowFile": "GH-820-graceperiod.yml",
                "optional": false,
                "jobName": "quickstarter-success"
              },
              {
                "workflowFile": "GH-820-graceperiod.yml",
                "optional": false,
                "jobName": "slowstarter-fail",
                "startupGracePeriod": "PT60S"
              }
            ]
