name: Itself
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/itself.yml'
      - 'action.yml'
      - 'dist/**'
  pull_request:
    paths:
      - '.github/workflows/itself.yml'
      - 'action.yml'
      - 'dist/**'

permissions:
  contents: write
  checks: read
  actions: read

jobs:
  # Keep sequential to avoid infinite loop
  exponential_backoff:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        continue-on-error: true
        with:
          retry-method: 'exponential_backoff'
          min-interval-seconds: 5
          attempt-limits: 2
  equal_intervals:
    needs: [exponential_backoff]
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 10
          attempt-limits: 60
  wait-list:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 5
          attempt-limits: 2
          wait-list: |
            [
              {
                "workflowFile": "lint.yml",
              },
              {
                "workflowFile": "ci.yml",
                "jobName": "typecheck"
              }
            ]
  skip-list:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 5
          attempt-limits: 2
          skip-list: |
            [
              {
                "workflowFile": "ci.yml",
              },
              {
                "workflowFile": "merge-bot-pr.yml",
                "jobName": "dependabot"
              }
            ]
