name: Itself
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/itself.yml'
      - 'action.yml'
      - 'dist/**'
  pull_request:
    paths:
      - '.github/workflows/itself.yml'
      - 'action.yml'
      - 'dist/**'

# Disable all permissions in workflow global to clarify which scope is needed for private repositories
permissions: {}

jobs:
  # Keep sequential to avoid infinite loop
  exponential_backoff:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./
        continue-on-error: true
        with:
          retry-method: 'exponential_backoff'
          min-interval-seconds: 5
          attempt-limits: 2
  equal_intervals:
    needs: [exponential_backoff]
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 10
          attempt-limits: 60
  default_logic:
    needs: [equal_intervals]
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./
  wait-list:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 5
          attempt-limits: 30
          wait-list: |
            [
              {
                "workflowFile": "lint.yml"
              },
              {
                "workflowFile": "merge-bot-pr.yml",
                "jobName": "dependabot"
              }
            ]
  skip-list:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./
        with:
          retry-method: 'equal_intervals'
          min-interval-seconds: 5
          attempt-limits: 30
          skip-list: |
            [
              {
                "workflowFile": "ci.yml"
              },
              {
                "workflowFile": "ci-nix.yml"
              },
              {
                "workflowFile": "ci-devcontainer.yml"
              },
              {
                "workflowFile": "merge-bot-pr.yml",
                "jobName": "dependabot"
              }
            ]
