name: Itself
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/itself.yml'
      - 'dist/**'
  pull_request:
    paths:
      - '.github/workflows/itself.yml'
      - 'dist/**'

permissions:
  contents: write
  checks: read
  actions: read

jobs:
  # Keep sequential to avoid infinite loop
  equal_intervals: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./
        continue-on-error: true
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          retry-method: 'equal_intervals'
          min-interval-seconds: 10
          attempt-limits: 2
  default:
    needs: [equal_intervals]
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
