name: Validate with running on my own
on:
  pull_request:
    paths-ignore:
      - '.github/dependabot.yml'
      - 'LICENSE'
      - '.editorconfig'
      - '.prettierrc'
      - '.eslintrc.js'
      - 'README.md'
      - '.vscode/**'

permissions:
  contents: write
  # checks: read
  actions: read
  pull-requests: read

jobs:
  validate: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
